{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Password reset confirmation
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Enter new password</h1>
        <hr>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <div class="row">
            <div class="col-5">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-primary">Change my password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
    