{% extends 'base.html' %}
{% block title %}
    Contact Us
{% endblock title %}
{% block content %}
<section id="contact" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Contact Us</h2>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div class="col-md-6">
                <p><strong>Address:</strong> Kavaklı mh. Yeşilyurt cd. No:132 Demir Country Sitesi İç Cadde Beylikdüzü İstanbul, Istanbul, Turkey</p>
                <p><strong>Phone:</strong> 05455601285</p>
                <p><strong>Email:</strong> contact@cafeistanbul.com</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}