
body {
    font-family: 'Montserrat', sans-serif;
}
.hero {
    position: relative;
    background: url('static/images/header.jpg') center/cover no-repeat;
    height: 80vh;
  }
  .hero .overlay {
    position: absolute; inset: 0;
    background: rgba(0,0,0,0.4); /* تیرگی مناسب برای متن */
  }
  .hero .hero-text {
    position: relative;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
  }
  .hero .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .hero .hero-text p {
    font-size: 1.25rem;
  }
  
  
  
.menu-item {
    margin-bottom: 30px;
}
.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
}
