body {
  font-family: 'Montserrat', sans-serif;
}

.hero {
  background-image: url('../images/hero-bg.jpg'); /* مسیر تصویر پس‌زمینه */
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.card {
  transition: transform 0.3s;
}
.card {
  height: 100%; /* کارت‌ها را به ارتفاع 100% تنظیم کنید */
}
.card:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #343a40; /* رنگ پس‌زمینه فوتر */
  color: white; /* رنگ متن فوتر */
}