{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    
    {% endblock title %}
        </title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg">
        <div class="container d-flex align-items-center justify-content-between">
      
          <!-- سمت چپ: لوگو و دکمه‌ها -->
          <div class="d-flex align-items-center">
              {% if not user.is_authenticated %}
                <a class="navbar-brand me-3" href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="logo" class="logo" style="height: 80px;">
                </a>
                <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm me-2">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-success btn-sm">Sign Up</a>
              {% else %}
                <a class="navbar-brand me-3" href="{% url 'home' %}">
                    <img src="" alt="logo" class="profile-image" style="height: 80px;">
                </a>
                  <a href="{% url 'profile'  %}" class="btn btn-outline-light btn-sm me-2">Profile</a>
                  <p class="text-white me-2 welcome-text">Welcome, {{ user.username }}</p>
                  <form method="POST" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-light btn-sm">Logout</button>
                  </form>
                  
              {% endif %}
          </div>
      
          <!-- منو سمت راست -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'categories' %}">Menu</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
              </ul>
          </div>
        </div>
    </nav>
      

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Footer -->
    <footer class="footer text-center text-white py-4">
        <div class="container">
            <div class="social-links mb-3">
                <a href="https://www.instagram.com/fragola.tr" target="_blank" class="text-white me-3">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="https://maps.app.goo.gl/eCBG12rXEn5f89TR6?g_st=aw" target="_blank" class="text-white">
                    <i class="fas fa-map-marker-alt fa-lg"></i>
                </a>
            </div>
            <p>&copy; 2025 This website created by p.mohtasham.far@gmail.com.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>